[submodule "max"]
	path = max
	url = git@github.com:tretikov-com/max.tretikov.com.git
[submodule "alexei"]
	path = alexei
	url = git@github.com:tretikov-com/alexei.tretikov.com.git
[submodule "lila"]
	path = lila
	url = git@github.com:tretikov-com/lila.tretikov.com.git
